.aboutContainer {
    display: flex;
    gap: 10%;
}

.ck {
    border-radius: 10px;
    aspect-ratio: 4/3;
    max-width: 35%;
    height: auto;
    object-fit: cover;
}

.aboutTitle {
    position: relative;
}

.aboutTitle::after {
    content: '|';
    animation: blink 1s infinite;
    color: inherit;
    position: relative;
    top: -2px;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

.imgContainer {
    display: flex;
    flex-direction: row;
}

.emailContainer {
    margin-top: 0;
    margin-right: 10px;
    height: 20px;
    width: 27px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg');
    background-size: cover;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.emailContainer:hover {
    filter: grayscale(0);
}

.linkedinContainer {
    margin-top: 0;
    height: 20px;
    width: 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Linked-in-alt.svg');
    background-size: cover;
    transition: filter 0.2s ease-in-out;
    margin-right: 10px;
    filter: grayscale(100%)
}

.linkedinContainer:hover {
    filter: grayscale(0);
}

.githubContainer {
    margin-top: 0;
    height: 22px;
    width: 22px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg');
    background-size: cover;
    filter: opacity(0.65);
    transition: filter 0.2s ease-in-out;
}

.githubContainer:hover {
    filter: none;
}

@media (max-width: 700px) {
    .aboutContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ck {
        max-width: 80%;
        margin: 3% 0;
    }

    .aboutTitle {
        margin-top: 0;
        text-align: center;
    }

    .about {
        width: 100%;
        margin-bottom: 10%;
        align-items: center;
    }
}
