.workContainer {
    display: flex;
    align-items: center;
}

.workIntro {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.workIntro h1 {
    font-style: normal;
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0;
    width: 50%;
}

.workIntro h1 span.initials {
    font-style: italic;
    background-image: url('../../assets/halftone.svg');
    color: transparent;
    background-size: 100% 100%;
    background-clip: text; 
    -webkit-text-stroke: 0.5px black;
}

.workIntro p {
    width: 40%;
    font-size: 20px;
    margin-top: 3%;
}


@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
    }
    .intro {
        width: 100%;
    }

    .ck {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .homeContainer {
        padding: 10px;
    }
    .intro h1 {
        font-size: 75px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}


